export(describe.ologit)
export(describe.oprobit)
importFrom(Zelig, describe, param, qi)
S3method(param, ologit)
S3method(param, oprobit)
export(plot.sim.ologit)
export(plot.sim.oprobit)
S3method(qi, ologit)
S3method(qi, oprobit)
export(zelig2ologit)
export(zelig2oprobit)
